<% include ../partials/header %>

<div class='container'>
    <div id="div-addnew-part">
        <h1>Log in</h1>
        <form action="/login" method='POST'>
            <div class="form-group">
                <input class="form-control" type="text" name='username' placeholder='username'>    
            </div>
            
             <div class="form-group">
                <input class="form-control" type="password" name='password' placeholder='password'>
            </div>
            <button class='btn btn-danger btn-lg btn-block' id= "submit-btn">Log in</button>
        </form>
        <a href='/campgrounds'>Go back</a>
    </div>
</div>

  
<% include ../partials/footer %>